.title.title-with-quote {
  width: 100%;
}

.qod-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .qod-quote-box {
    margin: 0 auto;
    display: inline-block;
    font-weight: 300;
    font-style: italic;
    padding: 0 10px 0 10px;
  }
}
